/* ======================== font ======================== */
/* 민산스 */
@import url("https://cdn.jsdelivr.net/gh/poposnail61/min-sans@main/web/css/minsansvf-dynamic-subset.css");

/* ======================== // font ======================== */

html{font-size:10px; scroll-behavior: smooth;}
body{font-family: "MinSansVF","Gulim","굴림","Dotum","돋움","Batang","바탕",sans-serif; font-weight: 400; letter-spacing: -0.03rem; line-height: 1.2; color: #fff;}
section{display: block; box-sizing: border-box;}
a,button{display: inline-block; font: inherit; color: inherit; box-sizing: border-box;}
img{display: inline-block; width: 100%; height: 100%; box-sizing: border-box; object-fit: contain;}
::before,::after{font: inherit; box-sizing: border-box;}
svg{display: block; width: 100%; height: 100%; box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{color: #222;}
h2{font-size: 3.5rem; line-height: 4.5rem;}


.ellipsis{width: fit-content; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}






/* media */
@media screen and (max-width: 767px) {
    html{font-size:8px;}
}