// logo
// $bg--logo: url("https://mkt-cdn.pstatic.net/mkt/2024/05/airush/assets/img/logo_naver_ai_rush.svg") no-repeat center center;

// color
$color--white : #ffffff;
$color--black : #000000;
$color--black1a : #1a1a1a;
$color--lightgrayf5 : #f5f5f5;
$color--gray : #AFAFAF;
$color--darkgray: #919191;
$color--pinkviolet : #CF3BA8;
$color--purple : #8A53E6;
$color--blueviolet : #41A1F6;
$color--blue41 : #2b65fe;
$color--blue1f : #1f88ea;
$color--blue11 : #11a0b8;
$color--green : #01B676;

// color gradient
$color--gradient : $color--pinkviolet, $color--purple, $color--blueviolet;
$color--point-gradient : linear-gradient(90deg, $color--gradient);
$color--point-gradient--revese : linear-gradient(-90deg, $color--gradient);
$color--gradient02 : $color--blue1f, $color--blue11, $color--green;
$color--point-gradient02 : linear-gradient(90deg, $color--gradient02);


// color opacity
$color--black--opacity--06 : rgba($color--black,0.6);

// border
$border-color--white : $color--white;
$border-color--lightgrayd9 : #D9D9D9;
$border-color--lightgraydd : #DDDDDD;
$border-color--darkgray : $color--darkgray;
$border-color--black : $color--black;
$border-color--black1a : $color--black1a;
$border-color--blue : $color--blue41;

// border color opacity
$border-color--white--opacity--03: rgba($border-color--white,0.3);
$border-color--white--opacity--05 : rgba($border-color--white,0.5);
$border-color--lightgrayd9--opacity--06 : rgba($border-color--lightgrayd9,0.6); // #e8e8e8
$border-color--black--opacity--01 : rgba($border-color--black,0.1);
$border-color--black--opacity--03 : rgba($border-color--black,0.3);
$border-color--black--opacity--05 : rgba($border-color--black,0.5);

// font color
$font-color--white : $color--white;
$font-color--black : $color--black;
$font-color--black1a : $color--black1a;
$font-color--lightgrayd9 : #d9d9d9;
$font-color--blue : $color--blue41;
$font-color--mintgreen : #73e7a8;
$font-color--pinkvioletbb : #bb45be;
$font-color--purple89 : #8932d2;
$font-color--blueviolet55 : #551ce6;
$font-color--blue1f : $color--blue1f;
$font-color--blue11 : $color--blue11;
$font-color--green : $color--green;

// font status
$font-color--placeholder : #DADADA;

// font color opacity
$font-color--white--opacity--03: rgba($font-color--white,0.3);
$font-color--white--opacity--05: rgba($font-color--white,0.5);
$font-color--white--opacity--06: rgba($font-color--white,0.6);
$font-color--black--opacity--03: rgba($font-color--black,0.3);
$font-color--black--opacity--05: rgba($font-color--black,0.5);
$font-color--black--opacity--06: rgba($font-color--black,0.6);
$font-color--black1a--opacity--02: rgba($font-color--black1a,0.2);
$font-color--black1a--opacity--03: rgba($font-color--black1a,0.3);
$font-color--black1a--opacity--06: rgba($font-color--black1a,0.6);
$font-color--lightgrayd9--opacity--06: rgba($font-color--lightgrayd9,0.6);



// font weight
$font-weight--300:300;
$font-weight--400:400;
$font-weight--700:700;
$font-weight--800:800;
$font-weight--900:900;

// font size
$font-size--12:12px;
$font-size--13:13px;
$font-size--14:14px;
$font-size--15:15px;
$font-size--16:16px;
$font-size--17:17px;
$font-size--18:18px;
$font-size--19:19px;
$font-size--20:20px;
$font-size--21:21px;
$font-size--22:22px;
$font-size--23:23px;
$font-size--24:24px;
$font-size--25:25px;
$font-size--26:26px;
$font-size--28:28px;
$font-size--30:30px;
$font-size--40:40px;
$font-size--50:50px;
$font-size--56:56px;

// line height
$line-height--18:18px;
$line-height--22:22px;
$line-height--26:26px;
$line-height--27:27px;
$line-height--28:28px;
$line-height--30:30px;
$line-height--33:33px;
$line-height--34:34px;
$line-height--36:36px;
$line-height--39:39px;
$line-height--42:42px;
$line-height--48:48px;
$line-height--60:60px;
$line-height--75:75px;
$line-height--84:84px;

// margin
$margin--center : (0 auto);
$margin-top--230 : 230px;

// padding
$padding--0_30 :( 0 30px);


// button
$button--bg--disabled: $color--gray;

// button status
$ico__arrow--transition : transform .3s ease-in-out;
$ico__arrow-right--hover : translateX(4px);
$ico__arrow-left--hover : translateX(-4px);
$ico__chevron-down--hover : translateY(4px);

// display
$display--none : none;
$display--block : block;
$display--inline-block : inline-block;
$display--flex : flex;


// layout
$height--height:88px;
$height--height--tablet:78px;
$height--height--mobile:60px;

// content width
$container--center: $margin--center;
$container--padding: $padding--0_30;
$container--width : 1360px;
$container--max-width:calc($container--width + nth($container--padding, 2) * 2);

// response
$breakpoint--mobile : 767px;
$breakpoint--tablet : 1419px;
// $breakpoint--desktop : 1919px;



// extend
%containerCenter {max-width: $container--max-width; margin: $container--center; padding: $container--padding;}
%icoHoverTransNone {
    // transform:unset;
    &::before{transform:unset;}
}
