@charset "utf-8";

// cdn
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


@import "./base/index";

// pages
@import "./pages/layout/layout"; // layout

@import "./pages/main"; // main
@import "./pages/biz"; // biz
@import "./pages/study"; // study
@import "./pages/notice"; // notice