<div class="footer__inner">
    
    <div class="footer__util__wrap">
        <p class="copyright">ⓒ NAVER Cloud Corp.</p>
        <div class="footer__util">
            <ul class="footer__util__list">
                <li class="ft--bold"><a href="javascript:;">개인정보처리방침</a></li>
                <li><a href="javascript:;">고객센터</a></li>
            </ul>
        </div>
        <p style="display: block; width: 100%; text-align: left; margin-top: 30px;">* 본 사이트는 상업 용도가 아닌 클론 코딩 입니다.</p>
        <p class="copyright__notice" style="display: block; width: 100%; text-align: left; margin-top:10px;"><a href="https://www.freepik.com" target="_blank" title="게시 이미지 출처">* 모든 게시물 이미지 출처: freepik</a></p>
    </div>
</div>