<div class="header__inner">
    <!-- logo -->
    <h1 class="logo"><a href="./index.html"><span class="blind">NAVER AI RUSH</span></a></h1>

    <div class="header__inner-right">
        <!-- gnb -->
        <div class="gnb__wrap layer__wrap">
            <button type="button" class="close__btn ico__close bi"><span class="blind">닫기</span></button>
            <div class="layer__inner">
                <nav class="gnb">
                    <ul class="depth1__list">
                        <li>
                            <a href="./index.html">AI RUSH</a>
                        </li>
                        <li>
                            <a href="./biz.html">AI BIZ</a>
                        </li>
                        <li>
                            <a href="./study.html">AI STUDY</a>
                        </li>
                        <li>
                            <a href="./notice.html">NOTICE</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- util -->
        <div class="util__wrap">
            <div class="util">
                <ul class="util__list">
                    <li>
                        <button type="button" class="search__btn ico__search bi"><span class="blind">검색</span></button>
                    </li>
                    <li>
                        <button type="button" class="menu__btn ico__menu bi"><span class="blind">메뉴</span></button>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 검색 레이어 -->
        <div class="search__wrap layer__wrap">
            <button type="button" class="close__btn ico__close bi"><span class="blind">닫기</span></button>
            <div class="layer__inner">
                <div class="search">
                    <button type="button" class="search__btn ico__search bi"><span class="blind">검색</span></button>
                    <input type="text" id="headerLayerSearch" class="search__input" placeholder="관심있는 주제나 키워드를 검색해보세요"/>
                    <label for="headerLayerSearch"></label>
                </div>
            </div>
        </div>
    </div>
</div>